



@media screen and (min-width: 800px) {
    .App-Header {
        background-color: #333;
        height: 85px;
        width: 100%;
    	position: sticky;
    	top: 0;
    	z-index: 2;
    	list-style-type: none;
    	margin: 0;
    	overflow: visible;
    	display: grid;
    	grid-template-columns: 100px calc(calc(100% - 750px)/2) 600px calc(calc(100% - 750px)/2) 50px;
        grid-template-rows: 85px;
    	grid-gap: 0px;
    }

    .navButtons {
        grid-column-start: 3;
        grid-column-end: 3;
    	text-align: center;
    	display: block;
    	text-decoration: none;
    	z-index: 2;
    	position: relative;
    	display: grid;
    	grid-template-columns: auto auto auto auto auto auto auto;
    	grid-gap: 0px;
    }

    .menuIconContainer {
        display: none;
    }

    .addPostIcon {
        display: none;
    }

    /* style for the search icon */
    .searchIcon {
        color: gray;
        font-size: 1.5em;
        grid-column-start: 5;
        grid-column-end: 5;
        align-self: center;
        justify-self: center;
        transform: rotate(90deg);
    }

    /* div to hold the search bar */
    .searchBar {
    	 text-align: left;
         width: 80%;
         padding-left: 10%;
         display: none;
         height: 100%;
    }

    /* when search bar inside dropDownContent */
    .dropDownContent .searchBar {
        display: flex;
        padding-top: 10px;
    }

    .searchCloseIcon {
        color: red;
        font-size: 1.5em;
        grid-column-start: 5;
        grid-column-end: 5;
        align-self: center;
        justify-self: center;
    }

    .addPostCloseIcon {
        color: red;
    }

    /* wraps the menu or the search bar drop down */
    .dropDownContent {
        position: fixed;
        background-color: #333;
        width: 100%;
        height: calc(100% - 85px);
        border-top: 2px solid gray;
        z-index: 1;
        text-align: left;
        margin-top: 85px;
    }
}

@media screen and (max-width: 799px) {
    .App-Header {
        background-color: #333;
        height: 45px;
        width: 100%;
    	position: sticky;
    	top: 0;
    	z-index: 2;
    	list-style-type: none;
    	margin: 0;
    	overflow: visible;
    	display: grid;
    	grid-template-columns: 50px calc(100% - 180px) 30px 40px 60px;
        grid-template-rows: 45px;
    	grid-gap: 0px;
    }

    .logo h1
    {
        font-size: 1em;
    }

    /* div to hold the search bar */
    .searchBar {
    	 text-align: left;
         justify-content: flex-start;
         width: 100%;
         display: none;
         height: 100%;
    }

    /* when search bar inside dropDownContent */
    .dropDownContent .searchBar {
        display: flex;
    }

    /* style for the search icon */
    .searchIcon {
        color: gray;
        font-size: 1.5em;
        grid-column-start: 4;
        grid-column-end: 4;
        align-self: center;
        justify-self: end;
        transform: rotate(90deg);
    }

    .addPostIcon {
        color: gray;
        font-size: 1.5em;
        grid-column-start: 3;
        grid-column-end: 3;
        align-self: center;
        justify-self: end;
        font-weight: bold;
        font-size: 1.5em;
    }

    .searchCloseIcon {
        color: red;
        font-size: 1.5em;
        grid-column-start: 4;
        grid-column-end: 4;
        align-self: center;
        justify-self: end;
    }

    /* don't show the normal nav buttons */
    .navButtons {
    	display: none;
    }

    /* wraps the menu or the search bar drop down */
    .dropDownContent {
        position: fixed;
        background-color: #333;
        width: 100%;
        height: calc(100% - 45px);
        border-top: 2px solid gray;
        z-index: 1;
        text-align: left;
        margin-top: 45px;
    }

    /* container for page name */
    .pageName {
        grid-column-start: 1;
        grid-column-end: 1;
        align-self: center;
        justify-self: start;
        padding-left: 5px;
    }

    /* container for pages with subsections */
    .innerDropDownItem {
        width: 100%;
        color: black;
        height: 50px;
        text-decoration: none;
        display: grid;
        grid-template-columns: 100%;
    }

    .innerDropDownItem div
    {
        grid-column-start: 1;
        grid-column-end: 1;
        align-self: center;
        justify-self: start;
        padding-left: 10px;
        text-decoration: none;
    }

    .innerDropDownItem div:visited {
        color: black;
    }

    /* container for down arrow to show more pages */
    .iconContainer {
        grid-column-start: 2;
        grid-column-end: 2;
        align-self: center;
        justify-self: center;
        font-size: 2em;
    }

    .iconContainer button {
        background: inherit;
        border: none;
        color: inherit;
        font-size: inherit;
    }

    .iconContainer button:focus {
        outline: none;
    }

    .dropDownItem:hover{
        background: red;
    }

    .optionsContainer {
        display: flex;
        flex-flow: row wrap;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        overflow: auto;
        transition: height .5s;
        height: 0px;
        overflow: hidden;
    }

    .innerDropDownItem:hover {
        background-color: #ddd;
    }

    .menuIconContainer {
        display: inline-block;
        cursor: pointer;
        grid-column-start: 5;
        grid-column-end: 5;
        place-self: center;
    }
}

/* container for menu routes */
.dropDownItem {
    width: 100%;
    color: white;
    border-bottom: 1px solid gray;
    height: 50px;
    display: grid;
    grid-template-columns: 90% 10%;
    text-decoration: none;
}

.searchCloseIcon:hover {
    color: gray;
}

.logo {
    color: white;
    text-align: left;
    padding-left: 10px;
}

.menuIcon {
    background-color: white;
}

.menuIconContainer:hover .menuIcon {
    background-color: red;
}

.menuCloseIcon {
    color: white;
    font-size: 1.5em;
}

.menuCloseIcon:hover {
    color: red;
}

/* for the hamburger menu */
.topBar, .middleBar, .bottomBar {
    width: 25px;
    height: 2.5px;
}

.middleBar, .bottomBar {
    margin-top: 5px;
}

.home, .homeButton {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  z-index: 2;
  position: relative;
}

.movieDropdown, .movieButton, .showDropdown, .showButton, .profileDropdown, .profileButton {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.movieDropdownContent, .showDropdownContent, .profileDropdownContent {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
	overflow: auto;
}

.movieDropdownContent a, .showDropdownContent a, .profileDropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.add, .addButton:link, .addButton:visited {
	background-color: red;
	color: white;
	display: block;
	text-align: center;
	text-decoration: none;
	z-index: 1;
	position: relative;
}

.addButton
{
    background-color: red;
    border: none;
    font-size: 3em;
    color: white;
    width: 100%;
    height: 100%;
}

.homeButton:hover, .movieButton:hover, .home:hover, .movieDropdown:hover, .showDropdown:hover, .profileDropdown:hover, .profileButton:hover {
  background-color: red;
}

.homeButton:link, .homeButton:visited {
	color: white;
}

.movieDropdownContent a:hover, .showDropdownContent a:hover, .profileDropdownContent a:hover {
  background-color: #ddd;
}

.movieDropdown:hover .movieDropdownContent, .showDropdown:hover .showDropdownContent, .profileDropdown:hover .profileDropdownContent {
  display: block;
}

.searchIcon:hover {
    color: red;
}

.addPostIcon:hover {
    color: red;
}
