

@media screen and (min-width: 1400px) {
    .App-Header {
        background-color: #333;
        height: 85px;
        width: 100%;
    	position: sticky;
    	top: 0;
    	z-index: 2;
    	list-style-type: none;
    	margin: 0;
    	overflow: visible;
    	display: grid;
    	grid-template-columns: 27.5% 45% 27.5%;
        grid-template-rows: 85px;
    	grid-gap: 0px;
    }

    .logo {
    	color: white;
    	text-align: left;
    	padding-left: 45px;
    }

    .dropDownContent .searchBar {
        display: none;
    }

    .searchBar {
    	 text-align: left;
         display: flex;
         justify-content: flex-start;
         width: 95%;
         margin-right: 5%;
         margin-top: 20px;
    }

    .searchInputBox {
        width: 90%;
    }

    .searchIconBox {
        width: 8%;
        display: flex;
        justify-content: flex-start;
        margin-left: 2%;
    }

    .navButtons {
    	text-align: center;
    	display: block;
    	text-decoration: none;
    	z-index: 2;
    	position: relative;
    	display: grid;
    	grid-template-columns: auto auto auto auto auto auto auto;
    	grid-gap: 0px;
    }
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {
    .App-Header {
        background-color: #333;
        height: 85px;
        width: 100%;
    	position: sticky;
    	top: 0;
    	z-index: 2;
    	list-style-type: none;
    	margin: 0;
    	overflow: visible;
    	display: grid;
    	grid-template-columns: 22.5% 50% 27.5%;
        grid-template-rows: 85px;
    	grid-gap: 0px;
    }

    .logo {
    	color: white;
    	text-align: left;
    	padding-left: 45px;
    }
    .searchBar {
    	   text-align: left;
         display: flex;
         justify-content: flex-start;
         width: 95%;
         margin-right: 5%;
         margin-top: 20px;
    }

    .searchInputBox {
        width: 90%;
    }

    .searchIconBox {
        width: 8%;
        display: flex;
        justify-content: flex-start;
        margin-left: 2%;
    }

    .navButtons {
    	text-align: center;
    	display: block;
    	text-decoration: none;
    	z-index: 2;
    	position: relative;
    	display: grid;
    	grid-template-columns: auto auto auto auto auto auto auto;
    	grid-gap: 0px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1000px) {
    .App-Header {
        background-color: #333;
        height: 85px;
        width: 100%;
    	position: sticky;
    	top: 0;
    	z-index: 2;
    	list-style-type: none;
    	margin: 0;
    	overflow: visible;
    	display: grid;
    	grid-template-columns: 27.5% 45% 27.5%;
        grid-template-rows: 85px;
    	grid-gap: 0px;
    }

    .logo {
    	color: white;
    	text-align: left;
    	padding-left: 45px;
    }
    .searchBar {
    	   text-align: left;
         display: flex;
         justify-content: flex-start;
         width: 95%;
         margin-right: 5%;
         margin-top: 20px;
    }

    .searchInputBox {
        width: 90%;
    }

    .searchIconBox {
        width: 8%;
        display: flex;
        justify-content: flex-start;
        margin-left: 2%;
    }

    .navButtons {
    	text-align: center;
    	display: block;
    	text-decoration: none;
    	z-index: 2;
    	position: relative;
    	display: grid;
    	grid-template-columns: auto auto auto auto auto auto auto;
    	grid-gap: 0px;
    }
}

@media screen and (max-width: 999px) and (min-width: 800px) {
    .App-Header {
        background-color: #333;
        height: 85px;
        width: 100%;
    	position: sticky;
    	top: 0;
    	z-index: 2;
    	list-style-type: none;
    	margin: 0;
    	overflow: visible;
    	display: grid;
    	grid-template-columns: 0% 65% 22.5%;
        grid-template-rows: 85px;
    	grid-gap: 0px;
    }

    .logo {
    	color: white;
    	text-align: left;
    	padding-left: 10px;
    }
    .searchBar {
    	   text-align: left;
         display: flex;
         justify-content: flex-start;
         width: 95%;
         margin-right: 5%;
         margin-top: 20px;
    }

    .searchInputBox {
        width: 90%;
    }

    .searchIconBox {
        width: 8%;
        display: flex;
        justify-content: flex-start;
        margin-left: 2%;
    }

    .navButtons {
    	text-align: center;
    	display: block;
    	text-decoration: none;
    	z-index: 2;
    	position: relative;
    	display: grid;
    	grid-template-columns: auto auto auto auto auto auto auto;
    	grid-gap: 0px;
    }
}

@media screen and (max-width: 799px) and (min-width: 600px) {
    .App-Header {
        background-color: #333;
        height: 85px;
        width: 100%;
    	position: sticky;
    	top: 0;
    	z-index: 2;
    	list-style-type: none;
    	margin: 0;
    	overflow: visible;
    	display: grid;
    	grid-template-columns: 0% 65% 22.5%;
        grid-template-rows: 85px;
    	grid-gap: 0px;
    }

    .logo {
    	color: white;
    	text-align: left;
    	padding-left: 10px;
    }

    .searchBar {
    	 text-align: left;
         display: none;
         justify-content: flex-start;
         width: 100%;
         margin-right: 5%;
         margin-top: 20px;
    }

    .searchInputBox {
        width: 90%;
    }

    .searchIconBox {
        width: 8%;
        display: flex;
        justify-content: flex-start;
        margin-left: 2%;
    }

    .navButtons {
    	text-align: center;
    	display: block;
    	text-decoration: none;
    	z-index: 2;
    	position: relative;
    	display: grid;
    	grid-template-columns: auto auto auto auto auto auto auto;
    	grid-gap: 0px;
    }
}

@media screen and (max-width: 599px) {
    .App-Header {
        background-color: #333;
        height: 45px;
        width: 100%;
    	position: sticky;
    	top: 0;
    	z-index: 2;
    	list-style-type: none;
    	margin: 0;
    	overflow: visible;
    	display: grid;
    	grid-template-columns: 13% 67% 10% 10%;
        grid-template-rows: 45px;
    	grid-gap: 0px;
    }

    .logo {
    	color: white;
    	text-align: left;
    	padding-left: 5px;
    }

    .logo h1
    {
            font-size: 1em;
    }


    .searchBar {
    	 text-align: left;
         justify-content: flex-start;
         width: 100%;
         margin-right: 5%;
         display: none;
         height: 100%;

    }

    .searchInputBox {
        width: 100%;
    }

    .searchIconBox {
        grid-column-start: 3;
        grid-column-end: 3;
        place-self: center;
    }

    .dropDownContent .searchBar {
        display: flex;
    }

    .searchIcon {
        color: gray;
        font-size: 1.5em;
        grid-column-start: 3;
        grid-column-end: 3;
        align-self: center;
        justify-self: end;
        transform: rotate(90deg);
    }

    .navButtons {
    	text-align: center;
    	display: none;
    	text-decoration: none;
    	z-index: 2;
    	position: relative;

    	grid-template-columns: auto auto auto auto auto auto auto;
    	grid-gap: 0px;
    }
    .dropDownContent {
        position: fixed;
        background-color: #333;
        width: 100%;
        height: calc(100% - 45px);
        border-top: 2px solid gray;
        z-index: 1;
        text-align: left;
        margin-top: 45px;
    }

    .dropDownConntainer
    {
        display: flex;
        flex-flow: row wrap;
    }

    .dropDownItem {
        width: 100%;
        color: white;
        border-bottom: 1px solid gray;
        height: 50px;
        display: grid;
        grid-template-columns: 90% 10%;
    }

    .pageName {
        grid-column-start: 1;
        grid-column-end: 1;
        align-self: center;
        justify-self: start;
        padding-left: 5px;
    }

    .pageLink {
        text-decoration: none;
    }

    .dropDownItem .pageName .pageLink:visited {
        color: white;
    }

    .innerDropDownItem .pageLink:visited {
        color: black;
    }

    .iconContainer {
        grid-column-start: 2;
        grid-column-end: 2;
        align-self: center;
        justify-self: center;
        font-size: 2em;
    }

    .iconContainer button {
        background: inherit;
        border: none;
        color: inherit;
        font-size: inherit;
    }

    .iconContainer button:focus {
        outline: none;
    }

    .dropDownItem:hover{
        background: red;
    }

    .optionsContainer {
        display: flex;
        flex-flow: row wrap;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        overflow: auto;
        transition: height .5s;
        height: 0px;
        overflow: hidden;
    }

    .innerDropDownItem {
        width: 100%;
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .innerDropDownItem:hover {
        background-color: #ddd;
    }
}

.menuIconContainer {
    display: inline-block;
    cursor: pointer;
    grid-column-start: 4;
    grid-column-end: 4;
    place-self: center;
}

.menuIcon {
    background-color: white;
}

.menuIconContainer:hover .menuIcon {
    background-color: red;
}

.menuCloseIcon {
    color: white;
    font-size: 1.5em;
}

.menuCloseIcon:hover {
    color: red;
}

.topBar, .middleBar, .bottomBar {
    width: 25px;
    height: 2.5px;
}

.middleBar, .bottomBar {
    margin-top: 5px;
}

.home, .homeButton {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  z-index: 2;
  position: relative;
}

.movieDropdown, .movieButton, .showDropdown, .showButton, .profileDropdown, .profileButton {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.movieDropdownContent, .showDropdownContent, .profileDropdownContent {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
	overflow: auto;
}

.movieDropdownContent a, .showDropdownContent a, .profileDropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.add, .addButton:link, .addButton:visited {
	background-color: red;
	color: white;
	display: block;
	text-align: center;
	text-decoration: none;
	z-index: 1;
	position: relative;
}

.addButton
{
    background-color: red;
    border: none;
    font-size: 3em;
    color: white;
    width: 100%;
    height: 100%;
}

.homeButton:hover, .movieButton:hover, .home:hover, .movieDropdown:hover, .showDropdown:hover, .profileDropdown:hover, .profileButton:hover {
  background-color: red;
}

.homeButton:link, .homeButton:visited {
	color: white;
}

.movieDropdownContent a:hover, .showDropdownContent a:hover, .profileDropdownContent a:hover {
  background-color: #ddd;
}

.movieDropdown:hover .movieDropdownContent, .showDropdown:hover .showDropdownContent, .profileDropdown:hover .profileDropdownContent {
  display: block;
}

.searchIcon {
    color: gray;
    font-size: 1.5em;
}

.searchIcon:hover {
    color: red;
}
