@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/*
    css below here is for the popup box
*/
.modal {
  font-size: 12px;
  width: 100%;
}
.modal > .header {
    width: 95%;
    border-bottom: 1px solid #C0C0C0;
    font-size: 18px;
    margin-right: 2.5%;
    margin-left: 2.5%;
    text-align: center;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

/* this class controls the popup box width
   it can only be seen when inspecting the doc
   the default width is 50%
   !important overrides the html style */
.popup-content {
    width: 50% !important;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.submitButton {
    border-radius: 4px;
    background-color: blue;
    border: none;
    background-color: #008CBA; /* button blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.ratingContainer {
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}

h3 {
    display: inline;
}



/* Below is for the star ratings */
fieldset, label {
    margin: 0;
    padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 5em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}
