@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/*
    css below here is for the popup box
*/
.modal {
  font-size: 12px;
  width: 100%;
}
.modal > .header {
    width: 95%;
    border-bottom: 1px solid #C0C0C0;
    font-size: 18px;
    margin-right: 2.5%;
    margin-left: 2.5%;
    text-align: center;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

/* this class controls the popup box width
   it can only be seen when inspecting the doc
   the default width is 50%
   !important overrides the html style */
.popup-content {
    width: 50% !important;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.submitButton {
    border-radius: 4px;
    background-color: blue;
    border: none;
    background-color: #008CBA; /* button blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* used to create a container that is 100% of the screen and centered */
.centeredMaxWidthContainer {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}

/* used to add a bottom margin of 10px to container */
#containerMarginBottom10
{
    margin-bottom: 10px;
}

/* used to create a container that takes up half the screen */
.proConContainter {
    width: 45%;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

/* used to remove all margins from a h4 header */
.h4NoMargin {
    margin-left: 0px;
    margin-block-end: 0em;
    margin-block-start: 0em;
}

/* used to create a divider that is the screen size with the color gray */
.selectedDivider {
    height: 3%;
    width: 100%;
    background: #C0C0C0;
}

/* used to make buttons have a shadow on hover */
.formButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* used to format the buttons on the film review popup */
.formButton {
    border-radius: 4px;
    color: white;
    font-size: 16px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

/* may not need this but this is a container that
  centers everything vertically and horizontally */
.buttonContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

/* this is used for buttons that were selected */
#usedButtonContainerHeight {
    height: 120px;
}

/* this is used for the container around buttons that were not selected */
#marginTopBottom20 {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* this is used for the text when a button is not yet selected */
.instructionText {
    font-size: 1.5em;
}

/* this sets the height for the textbox for the optional review */
/* need to combine some of this stuff */
#reviewInputField {
    height: 100px;
}

/* this sets the color for a used bad button */
#usedBadButton {
    background-color: red;
}

/* sets the color and opacity for a unused bad button */
#unusedBadButton {
    background-color: red;
    opacity: 50%;
}

/* sets the color, opacity, and makes the button unclickable for a unused bad button */
#unusedBadButtonMAX {
    background-color: red;
    opacity: 50%;
    pointer-events: none;
}

/* used to keep outline from button when clicked */
.formButton:focus {
    outline:0;
}

/* changes a bad buttons opacity on hover */
#unusedBadButton:hover {
    opacity: 100%;
}

/* some of this stuff below needs combined */
#unusedGoodButton {
    background-color: #4CAF50;
    opacity: 50%;
}

#usedGoodButton {
    background-color: #4CAF50;
}

#unusedGoodButtonMAX {
    background-color: #4CAF50;
    opacity: 50%;
    pointer-events: none;
}

#unusedGoodButton:hover {
    opacity: 100%;
}

.inputFieldContainer {
    width: 100%;
    margin-bottom: 10px;
}

#validInputBox {
    border: .5px solid #C0C0C0; /* silver */
}

/* format input box */
/* may need to remove as in other css file */
.inputFieldBoxLong {
    width: 95%;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.7em;
    border-radius: 6px;
}

/* make a h3 header inline */
.inlineH3 {
    display: inline;
}



/* Below is for the star ratings */
fieldset, label {
    margin: 0;
    padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 5em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}
