/* this class controls the popup box width
   it can only be seen when inspecting the doc
   the default width is 50%
   !important overrides the html style */
.popup-content {
    width: 40% !important;
}

/*
    All the css below should be for the form itself
*/
.inputFieldContainer {
    width: 100%;
    margin-bottom: 10px;
}

.nameContainer {
    width: 50%;
    margin-bottom: 10px;
}

/*
    this controls the input field itself
*/
.inputFieldBoxShort {
    width: 90%;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.9em;
    border-radius: 6px;
}

#inputBoxError {
    border: .5px solid red;
}

#validInputBox {
    border: .5px solid #C0C0C0; /* silver */
}

.inputFieldBoxLong {
    width: 95%;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.7em;
    border-radius: 6px;
}

.inputFieldH4 {
    display: inline;
    font-size: 1.5em;
    margin-left: 5px;
}

#validInputBox:focus {
    border: .5px solid #4682B4;
    border-radius: 6px;
    outline: none;
    box-shadow:0 0 8px #4682B4; /* blue */
}

#errorLabel {
    color: red;
}

#inputBoxError:focus {
    border: .5px solid red;
    border-radius: 6px;
    outline: none;
    box-shadow:0 0 8px red; /* blue */
}

small {
    margin-left: 5px;
    color: red;
    font-size: 1.2em;
}

.submitButton {
    border-radius: 4px;
    background-color: blue;
    border: none;
    background-color: #008CBA; /* button blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h3 {
    display: inline;
}

.accountExistsText {
    text-align: center;
    width: 100%;
}

a:visited {
    color: #4682B4;
}

a {
    color: #4682B4;
}
