/* this holds css specific to the SignUp.js file */


/* container for the first and last name fields */
.nameContainer {
    width: 45%;
    margin-bottom: 10px;
    margin-left: 2.5%;
    margin-right: 1%;
    position: relative;
}

.lastNameContainer {
    width: 45%;
    margin-bottom: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: relative;
}

/*
    this controls the input field itself
*/
.inputFieldBoxShort {
    width: 100%;
    margin-top: 5px;
    font-size: 1.9em;
    border-radius: 6px;
}

/* sets H4 size and to inline */
.inputFieldH4 {
    display: inline;
    font-size: 1.5em;
}

/* center text asking for if account exists */
.accountExistsText {
    text-align: center;
    width: 100%;
    position: relative;
}

.verificationContainer {
    width: 100%;
    position: relative;
    text-align: center;
}

.verificationInput {
    font-size: 2.5em !important;
    text-align: center;
    width: 8ch !important;
}

.verificationInputContainer {
    width: 100%;
}

.verificationTextContainer {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: relative;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

.emailText {
    color: red;
    font-weight: bold;
    word-break: break-all;
}

.verificationButtonContainer {
    width: 100%;
    margin-top: 10px;
}

.cancelButton {
    background-color: red !important;
    padding: 10px 20px !important;
}
