/* this holds css specific to the SignUp.js file */


/* container for the first and last name fields */
.nameContainer {
    width: 45%;
    margin-bottom: 10px;
    margin-left: 2.5%;
}

/*
    this controls the input field itself
*/
.inputFieldBoxShort {
    width: 100%;
    margin-top: 5px;
    font-size: 1.9em;
    border-radius: 6px;
}

/* sets H4 size and to inline */
.inputFieldH4 {
    display: inline;
    font-size: 1.5em;
}

/* center text asking for if account exists */
.accountExistsText {
    text-align: center;
    width: 100%;
}

.checkbox {
    text-align: left;
}

.rememberText {
    text-align: left;
    width: 100%;
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.forgotText {
	text-align: right;
	width: 100%;
	font-size: 22px;
	padding-right: 35px;
}