
.profilePic {
    float: left;
	height: 125px;
	weight: 125px;
	padding-left: 5px;
}

@media screen and (min-width: 1400px) {
    .mainBodyContainer {
        width: 70%;
        height: auto;
        margin-left: 15%;
        margin-right: 15%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 20px;
        min-height: calc(100vh - 125px);
    }

    .profileHeader {
        height: auto;
        margin: auto;
    	text-align: left;
    	font-family: arial;
    	display: grid;
    	grid-template-columns: auto;
    	padding: 10px;
    	background-color: #333;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 60%;
        position: relative;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .mainBodyContainer {
        width: 75%;
        height: auto;
        margin-left: 12.5%;
        margin-right: 12.5%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 20px;
        min-height: calc(100vh - 125px);
    }

    .profileHeader {
        height: auto;
        margin: auto;
    	text-align: left;
    	font-family: arial;
    	display: grid;
    	grid-template-columns: auto;
    	padding: 10px;
    	background-color: #333;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 65%;
        position: relative;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .mainBodyContainer {
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 20px;
        min-height: calc(100vh - 125px);
    }

    .profileHeader {
        height: auto;
        margin: auto;
    	text-align: left;
    	font-family: arial;
    	display: grid;
    	grid-template-columns: auto;
    	padding: 10px;
    	background-color: #333;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 70%;
        position: relative;
    }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
    .mainBodyContainer {
        width: 85%;
        height: auto;
        margin-left: 7.5%;
        margin-right: 7.5%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 20px;
        min-height: calc(100vh - 125px);
    }

    .profileHeader {
        height: auto;
        margin: auto;
    	text-align: left;
    	font-family: arial;
    	display: grid;
    	grid-template-columns: auto;
    	padding: 10px;
    	background-color: #333;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 75%;
        position: relative;
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .mainBodyContainer {
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 20px;
        min-height: calc(100vh - 85px);
    }

    .profileHeader {
        height: auto;
        margin: auto;
    	text-align: left;
    	font-family: arial;
    	display: grid;
    	grid-template-columns: auto;
    	padding: 10px;
    	background-color: #333;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 82.5%;
        position: relative;
    }
}

@media screen and (max-width: 599px) {
    .mainBodyContainer {
        width: 95%;
        height: auto;
        margin-left: 2.5%;
        margin-right: 2.5%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 20px;
        min-height: calc(100vh - 85px);
    }

    .profileHeader {
        height: auto;
        margin: auto;
    	text-align: left;
    	font-family: arial;
    	display: grid;
    	grid-template-columns: auto;
    	padding: 10px;
    	background-color: #333;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 90%;
        position: relative;
    }
}



.followersContainer
{
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    felx-flow: row wrap;
    align-content: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
}

.socialHeader
{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.followersButton
{
    background-color: #333;
    color: white;
    border: none;
    font-size: 1em;
    padding: 0px;
}

.followersButton:focus
{
    outline: none;
}

.numberDisplay
{
    width: 33%;
    height: auto;
    text-align: center;
    align-content: center;
}

.followButton
{
    border-radius: 4px;
    color: white;
    font-size: 16px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.followColor
{
    background-color: blue;
}

.followColor:hover
{
    background-color: DarkGray;
}

.notFollowingColor
{
    background-color: DarkGray;
}

.notFollowingColor:hover
{
    background-color: blue;
}

/* prevents outline on button when clicked */
.followButton:focus
{
    outline: none;
}
