.profileHeader {
    height: auto;
    margin: auto;
	text-align: left;
	font-family: arial;
	display: grid;
	grid-template-columns: auto;
	padding: 10px;
	background-color: #333;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
}


.profilePic {
    float: left;
	height: 125px;
	weight: 125px;
	padding-left: 5px;
}

.mainBodyContainer
{
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin-bottom: 20px;
}

.followersContainer
{
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    felx-flow: row wrap;
    align-content: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
}

.socialHeader
{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.followersButton
{
    background-color: #333;
    color: white;
    border: none;
    font-size: 1em;
    padding: 0px;
}

.followersButton:focus
{
    outline: none;
}

.numberDisplay
{
    width: 33%;
    height: auto;
    text-align: center;
    align-content: center;
}

.followButton
{
    border-radius: 4px;
    color: white;
    font-size: 16px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.followColor
{
    background-color: blue;
}

.followColor:hover
{
    background-color: DarkGray;
}

.notFollowingColor
{
    background-color: DarkGray;
}

.notFollowingColor:hover
{
    background-color: blue;
}

/* prevents outline on button when clicked */
.followButton:focus
{
    outline: none;
}
