
HomePageIdeas.txt
ErrorsThatNeedFixed.txt
Matt to do list
database.ini
*.ini
test.json
movieList.json
ScriptResults
/movie-app-api/Config.json

emailInfo.txt
command-to-run.txt
node_modules/
/movie-app-api/uploads
**/node_modules
*.pem
*.pfx
*.env
*.conf
movieappdatabase/src/__pycache__/config.cpython-38.pyc
