.landingPage {
	width: 100%;
    min-height: 100%;
    margin-top: 0px;
    position: relative;
}

.landingPage #h1Landing, #h2Landing {
	color: white;
	text-align: center;
}

.featuredMovieContainer {
    min-width: 100%;
    max-width: 100%;
	height: 100%;
    background-image: url("https://image.tmdb.org/t/p/original/wzJRB4MKi3yK138bJyuL9nx47y6.jpg");
    background-repeat: no-repeat;
	background-size: cover;
    background-position: top;
    position: relative;
    transition: transform 2s;
}


.featuredMovieDisplayContainer
{
	width: 100%;
    position: relative;
    z-index: 0;
    background-color: transparent;
	padding-top: 56.25%;
}

.innerDisplayContainer
{
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 0;
	background-color: transparent;
}


.infoContainer
{
    position: absolute;
    display: grid;
    width: 100%;
    bottom: 0px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.6));
}

.infoContainerNoTrailer {
	grid-template-columns: 200px calc(100% - 200px);
}

.moviePosterContainer
{
    width: calc(100% - 20px);
	position: relative;
	padding-top: calc(177% - 35px);
	margin: 10px;
}

.moviePosterContainer img
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.playTrailerButton i:hover {
	color: red;
	cursor: pointer;
}

.movieDisplayContainer {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    position: relative;
    z-index: 0;
}


.resultsContainer {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    background: black;
    color: white;
}

.resultsHeader
{
    display: grid;
    grid-template-columns: calc(100% - 110px) 110px;
    position: relative;
}

.resultsShowAllButtonContainer
{
    justify-self: end;
    display: grid;
    grid-template-columns: auto;
}

.resultsShowAllButton {
    align-self: end;
    border: none;
    color: white;
    width: 110px;
    display: grid;
    grid-template-columns: calc(100% - 17px) 17px;
    font: inherit;
	text-decoration: none;
}

.resultsShowAllButton:focus {
    outline: none;
}

.resultsShowAllButton div
{
    align-self: center;
    justify-self: end;
    font-weight: 500;
    height: 100%;
}

.showMoreIcon
{
    justify-self: flex-end;
    align-self: center;
    font-size: 1.6em;
    padding-bottom: 0px;
}

.resultType {
    font-size: 1.5em;
    font-weight: bold;
    align-self: center;
}

/* need both of these for javascript purposes */
.movieContainer {
    min-width: calc(88%/6);
    max-width: calc(88%/6);
    padding: 1%;
    transition: transform 2s;
}

@media screen and (min-width: 1400px) {
    .mainBodyContainer {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-top: 20px;
        background: black;
        min-height: calc(100vh - 125px);
        margin-bottom: 20px;
        color: white;
    }

	/* for the info on the featured movie */
	.infoContainerTrailer
	{
		grid-template-columns: 20% calc(5.0em + 5px) calc(80% - calc(5.0em + 5px));
	}

	.playTrailerButton {
	    align-self: end;
	    color: white;
	    margin-bottom: 10px;
	    font-size: 5.0em;
	}

	.movieDetails {
	    color: white;
	    font-size: 2.5em;
	    align-self: end;
		min-height: 2em;
	    margin-bottom: 10px;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .mainBodyContainer {
        width: 75%;
        height: auto;
        margin-left: 12.5%;
        margin-right: 12.5%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
		margin-top: 20px;
        margin-bottom: 20px;
        background: white;
        min-height: calc(100vh - 125px);
    }

	.infoContainerTrailer
	{
		grid-template-columns:  20% calc(5.0em + 5px) calc(80% - calc(5.0em + 5px));
	}

	.playTrailerButton {
	    align-self: end;
	    color: white;
	    margin-bottom: 10px;
	    font-size: 5.0em;
	}

	.movieDetails {
	    color: white;
	    font-size: 2.5em;
	    align-self: end;
		min-height: 2em;
	    margin-bottom: 10px;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .mainBodyContainer {
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 20px;
		margin-top: 20px;
        background: white;
        min-height: calc(100vh - 125px);
    }

	.infoContainerTrailer
	{
		grid-template-columns:  20% calc(4.0em + 5px) calc(80% - calc(4.0em + 5px));
	}

	.playTrailerButton {
	    align-self: end;
	    color: white;
	    margin-bottom: 10px;
	    font-size: 4.0em;
	}

	.movieDetails {
	    color: white;
	    font-size: 2.0em;
	    align-self: end;
		min-height: 2em;
	    margin-bottom: 10px;
	}
}

@media screen and (min-width: 800px) and (max-width: 999px) {
    .mainBodyContainer {
        width: 85%;
        height: auto;
        margin-left: 7.5%;
        margin-right: 7.5%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 20px;
		margin-top: 20px;
        background: white;
        min-height: calc(100vh - 125px);
    }

	.infoContainerTrailer
	{
		grid-template-columns:  25% calc(3.2em + 5px) calc(75% - calc(3.2em + 5px));
	}

	.playTrailerButton {
	    align-self: end;
	    color: white;
	    margin-bottom: 10px;
	    font-size: 3.2em;
	}

	.movieDetails {
	    color: white;
	    font-size: 1.7em;
	    align-self: end;
		min-height: 2em;
	    margin-bottom: 10px;
	}
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .mainBodyContainer {
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 20px;
		margin-top: 20px;
        background: white;
        min-height: calc(100vh - 85px);
    }

	.infoContainerTrailer
	{
		grid-template-columns:  25% calc(3.0em + 5px) calc(75% - calc(3.0em + 5px));
	}

	.playTrailerButton {
	    align-self: end;
	    color: white;
	    margin-bottom: 10px;
	    font-size: 3.0em;
	}

	.movieDetails {
	    color: white;
	    font-size: 1.5em;
	    align-self: end;
		min-height: 2em;
	    margin-bottom: 10px;
	}
}

@media screen and (max-width: 599px) {
    .mainBodyContainer {
        width: 95%;
        height: auto;
        margin-left: 2.5%;
        margin-right: 2.5%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 20px;
		margin-top: 20px;
        background: white;
        min-height: calc(100vh - 85px);
    }

	.infoContainerTrailer
	{
		grid-template-columns:  30% calc(2.5em + 5px) calc(70% - calc(2.5em + 5px));
	}

	.playTrailerButton {
	    align-self: end;
		height: calc(1em + 10px);
	    color: white;
	    margin-bottom: 5px;
	    font-size: 2.5em;
	}

	.movieDetails {
	    color: white;
	    font-size: 1.0em;
	    align-self: end;
		min-height: 2.8em;
	    margin-bottom: 5px;
	}
}
