@media screen and (min-width: 1400px) {
    .UserListPopUp-content {
        width: 35% !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .UserListPopUp-content {
        width: 45% !important;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .UserListPopUp-content {
        width: 55% !important;
    }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
    .UserListPopUp-content {
        width: 65% !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .UserListPopUp-content {
        width: 80% !important;
    }

}

@media screen and (max-width: 599px) {
    .UserListPopUp-content {
        width: 85% !important;
    }
}
