

.mainBodyContainer {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    position: static;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin-bottom: 20px;
    background: white;
    min-height: 600px;
}

.headerContainer {
    width: 100%;
    margin-left: 2.5%;
}

.movieDisplayContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

}

.movieContainer {
    width: 28.1%;
    margin: 2.6%;
    margin-bottom: 5%;
}
