.moviePoster {
    width: 100%;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 350px;
}

.movieImageContainer {
    width: 100%;
    margin: 0px;
    display:flex;
}


.main {
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.2), 0px 0px 8px 5px rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to bottom, rgba(112,107,107,0.9), rgba(112,107,107,0.9));
    border-bottom-left-radius: 5px;
    border-radius: 5px;
}

.main:hover {
    box-shadow: 0px 0px 5px 5px #093145;
}

.movieDetailsContainer {
    color: #093145;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 10px;
    min-height: 75px;
    width: 85%;
}

.bottomContainer {
    color: #093145;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 10px;
    min-height: 75px;
    display: flex;
    flex-flow: row wrap;
}

.movieTitle {
    font-weight: 600;
    font-size: 1.2em;
}

.releaseDate {
    color: white;
}

.icons {
    width: 27.7%;
    position: absolute;
    margin-right: 0.3%;
}

.watchListIcon {
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    opacity: 50%;
    position: static;
}

.watchListIconSelected {
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    opacity: 100%;
    color: red;
}

.watchListIcon:hover {
    opacity: 100%;
    color: red;
}

.watchedIcon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    opacity: 50%;
}

.watchedIconSelected {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    opacity: 100%;
    color: orange;
}

.watchListIconSelected:hover {
    color: #093145;
}

.watchedIconSelected:hover {
    color: #093145;
}

.watchedIcon:hover {
    color: orange;
    opacity: 100%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: .75em;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: 9%;
  opacity: 100% !important;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {}
