
/* class needed to set pop up size dynamically */

.movieDisplay-content {
    width: 50% !important;
    border: 0px !important;
    padding: 0px !important;
}


@media screen and (min-width: 1400px) {

}

@media screen and (max-width: 1399px) {
    .movieDisplay-content {
        width: 60% !important;
    }
}

@media screen and (max-width: 1199px) {
    .movieDisplay-content {
        width: 65% !important;
    }
}

@media screen and (max-width: 999px) {
    .movieDisplay-content {
        width: 70% !important;
    }
}

@media screen and (max-width: 799px) {
    .movieDisplay-content {
        width: 75% !important;
    }
}

@media screen and (max-width: 599px) {
    .movieDisplay-content {
        width: 80% !important;
    }
}
