
.headerContainer {
    width: 97.5%;
    margin-left: 2.5%;
}

.movieDisplayContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

@media screen and (min-width: 1400px) {
    .mainBodyContainer {
        width: 70%;
        height: auto;
        margin-left: 15%;
        margin-right: 15%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-top: 20px;
        margin-bottom: 20px;
        background: black;
        color: white;
        min-height: calc(100vh - 125px);
    }

    .movieContainer {
        width: 20%;
        margin: 2.5%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .mainBodyContainer {
        width: 75%;
        height: auto;
        margin-left: 12.5%;
        margin-right: 12.5%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 20px;
        margin-top: 20px;
        background: black;
        color: white;
        min-height: calc(100vh - 125px);
    }

    .movieContainer {
        width: 28.1%;
        margin: 2.6%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .mainBodyContainer {
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 20px;
        margin-top: 20px;
        background: black;
        color: white;
        min-height: calc(100vh - 125px);
    }

    .movieContainer {
        width: 28.1%;
        margin: 2.6%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
    .mainBodyContainer {
        width: 85%;
        height: auto;
        margin-left: 7.5%;
        margin-right: 7.5%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 20px;
        margin-top: 20px;
        background: black;
        color: white;
        min-height: calc(100vh - 125px);
    }

    .movieContainer {
        width: 45%;
        margin: 2.5%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .mainBodyContainer {
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 20px;
        margin-top: 20px;
        background: black;
        color: white;
        min-height: calc(100vh - 85px);
    }

    .movieContainer {
        width: 45%;
        margin: 2.5%;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 599px) {
    .mainBodyContainer {
        width: 95%;
        height: auto;
        margin-left: 2.5%;
        margin-right: 2.5%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 20px;
        margin-top: 20px;
        background: black;
        color: white;
        min-height: calc(100vh - 85px);
    }

    .movieContainer {
        width: 45%;
        margin: 2.5%;
        margin-bottom: 5%;
    }
}
