/* this class controls the popup box width
   it can only be seen when inspecting the doc
   the default width is 50%
   !important overrides the html style */


@media screen and (min-width: 1400px) {
    .passwordReset-content {
        width: 30% !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .passwordReset-content {
        width: 35% !important;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .passwordReset-content {
        width: 40% !important;
    }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
    .passwordReset-content {
        width: 45% !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .passwordReset-content {
        width: 50% !important;
    }
}

@media screen and (max-width: 599px) {
    .passwordReset-content {
        width: 55% !important;
    }
}

@media screen and (max-width: 599px) {
    .passwordReset-content {
        width: 65% !important;
    }
}
