/* sets H4 size and to inline */

.verificationButtonContainer {
    width: 100%;
    margin-top: 10px;
}

.infoTextContainer {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: relative;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}

.verificationContainer {
    width: 100%;
    position: relative;
    text-align: center;
}

.alertContent {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

/* input box css */
.inputHeader
{
    width: 100%;
    margin-top: 5px;
    text-align: center;
}

.inputH3Header
{
    display: inline;
    font-size: 1.5em;
}

.inputBoxStyle
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    align-self: center;
    font-size: 1.7em;
}

.verificationInput {
    font-size: 2.5em;
    text-align: center;
    width: 8ch !important;
}

.inputErrorText
{
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

.verificationErrorText
{
    text-align: center;
    width: 100%;
    display: inline-block;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
