@media screen and (min-width: 1400px) {
    .reviewForm-content {
        width: 40% !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .reviewForm-content {
        width: 50% !important;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .reviewForm-content {
        width: 60% !important;
    }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
    .reviewForm-content {
        width: 70% !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .reviewForm-content {
        width: 80% !important;
    }
}

@media screen and (max-width: 599px) {
    .reviewForm-content {
        width: 80% !important;
    }
}

@media only screen and (max-width: 599px) {
    .reviewForm-content {
        width: 85% !important;
    }
}
