@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
.App {
  /*The image used
  background-image: url("images/background3.jpg");*/

  /* Center and scale the image nicely */
  /*
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  */
}

.mainBodyContainer {
    width: 70%;
    /*height: 1000px;*/
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    background-color: white;
    margin-bottom: 20px;
}

/*
.post {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: auto;
	text-align: center;
	font-family: arial;
	width: 60%;
	display: grid;
	grid-template-columns: auto;
	padding: 10px;
	background-color: white;
}
*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  position: relative;
}

div.postHeader p {
	float: left;
	padding-left: 10px;
}

div.postHeader img {
	float: right;
	height: 50px;
	weight: 50px;
	padding-right: 5px;
}

.postImage {
	grid-gap: 0px;
	padding: 0px;
	text-align: center;
}

.checked {
	color: orange;
	padding-top: 10px;
}

/*
.postGoodBad {
	display: grid;
	grid-template-columns: auto auto;
	position: relative;
}

.postGoodButtons {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	position: relative;
}
*/

.socialButtons {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	position: relative;
}

/*
.goodButtons {
	display: grid;
	text-align: center;
	grid-template-columns: auto auto auto;
}

.goodButtons button {
	background-color: #4CAF50;
}


.badButtons button {
	background-color: #F32121;
}

.badButtons {
	display: grid;
	text-align: center;
	grid-template-columns: auto auto auto;
}

*/
.review {
	padding-top: 10px;
}

.reviewTextArea {
	pointer-events: none;
	width: 100%;
}

.profilePic {
	height: 50px;
	weight: 50px;
	position: relative;
	right: -120px;
}

hr.divider {
  border-top: 3px solid #bbb;
}

.theGood {
	position: left;
}

.theBad {
	position: right;
}

.testButton {
    font-size: 20px;
    border-radius: 4px;
    background-color: blue;
}

.mainBodyChild {
    width: 100%;
}
