.App {
  text-align: center;
  /* The image used */
  background-image: url("images/background3.jpg");

  /* Full height */
  height: 1200px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainBody {
    width: 70%;
    height: 1000px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 120px;
    background-color: #FFFFFF;
    position: absolute;
}

.mainTitle {
    color: #FFFFFF;
}

header {
    background-color: #282c34;
    height: 120px;
    width: 100%;
    position: absolute;
}
