@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
.App {
  /* The image used */
  background-image: url("images/background3.jpg");

  /* Full height */
  height: 1200px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainBodyContainer {
    width: 70%;
    height: 1000px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    background-color: #FFFFFF;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

/* Header */
.App-Header {
    background-color: #333;
    height: 73px;
    width: 100%;
	position: sticky;
	top: 0;
	z-index: 1;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: visible;
}

li {
  float: left;
}

.mainTitle {
    color: #FFFFFF;
	padding-left: 45px;
	padding-right: 650px;
	padding-top: 1px;
}

.home, .profile{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	padding-top: 10px;
	z-index: 2;
	position: relative;
}

.homeButton, .profileButton {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 0px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-top: 25px;
}

.homeButton:link, .homeButton:visited, .profileButton:link, .profileButton:visited{
	color: white;
}

.movieDropdown {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-top: 10px;
  z-index: 2;
  position: relative;
}

.showDropdown {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-top: 10px;
  z-index: 2;
  position: relative;
}

.movieDropdown .movieButton {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.showDropdown .showButton {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

li a:hover {
  background-color: red;
}

.home:hover, .profile:hover{
	background-color: red;
}

.movieDropdown:hover {
  background-color: red;
}

.showDropdown:hover {
  background-color: red;
}

.movieDropdownContent {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
	overflow: auto;
}

.showDropdownContent {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
}

.movieDropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.showDropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.movieDropdownContent a:hover {
  background-color: #ddd;
}

.showDropdownContent a:hover {
  background-color: #ddd;
}

.movieDropdown:hover .movieDropdownContent {
  display: block;
}

.showDropdown:hover .showDropdownContent {
  display: block;
}

.searchBar {
	padding-top: 25px;
	float: right;
}

/* Main Page*/
.post {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 500px;
	margin: auto;
	text-align: center;
	font-family: arial;
	width: 700px;
	display: grid;
	grid-template-columns: auto;
	padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  position: relative;
}

div.postHeader p {
	float: left;
	padding-left: 10px;
}

div.postHeader img {
	float: right;
	height: 50px;
	weight: 50px;
	padding-right: 5px;
}

.postImage {
	grid-gap: 0px;
	padding: 0px;
	text-align: center;
}

.checked {
	color: orange;
	padding-top: 10px;
}

.postGoodBad {
	display: grid;
	grid-template-columns: auto auto;
	position: relative;
}

.postGoodButtons {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	position: relative;
}

.socialButtons {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	position: relative;
}

.goodButtons {
	display: grid;
	text-align: center;
	grid-template-columns: auto auto auto;
}

.goodButtons button {
	background-color: #4CAF50;
}

.badButtons button {
	background-color: #F32121;
}

.badButtons {
	display: grid;
	text-align: center;
	grid-template-columns: auto auto auto;
}

.review {
	padding-top: 10px;
}

.reviewTextArea {
	pointer-events: none;
	width: 100%;
}

.profilePic {
	height: 50px;
	weight: 50px;
	position: relative;
	right: -120px;
}

hr.divider {
  border-top: 3px solid #bbb;
}

.theGood {
	position: left;
}

.theBad {
	position: right;
}

.testButton {
    font-size: 20px;
    border-radius: 4px;
    background-color: blue;
}

.mainBodyChild {
    width: 100%;
}
