

@media screen and (min-width: 1400px) {
    .carouselItemsContainer {
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        min-width: 100%;
        max-width: 100%;
        position: relative;
        z-index: 0;
    }

    .forwardButtonContainer {
        position: absolute;
        width: auto;
        right: 0px;
        top: calc(50% - 32px);
        height: 64px;
        z-index: 1;
        background-color: gray;
        opacity: 50%;
        border-radius: 5px;
    }

    .forwardButtonContainer i {
        color: white;
        font-size: 4em;
    }

    .forwardButtonContainer:hover {
        opacity: 90%;
    }

    .backButtonContainer {
        position: absolute;
        width: auto;
        left: 0px;
        top: calc(50% - 32px);
        background-color: gray;
        height: 64px;
        z-index: 1;
        opacity: 50%;
        border-radius: 5px;
    }

    .backButtonContainer i {
        color: white;
        font-size: 4em;
        transform: rotate(180deg);
    }

    .backButtonContainer:hover {
        opacity: 90%;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1399px) {

    .carouselItemsContainer {
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        min-width: 100%;
        max-width: 100%;
        position: relative;
        z-index: 0;
    }

    .forwardButtonContainer {
        position: absolute;
        width: auto;
        right: 0px;
        top: calc(50% - 32px);
        height: 64px;
        z-index: 1;
        background-color: gray;
        opacity: 50%;
    }

    .forwardButtonContainer i {
        color: white;
        font-size: 4em;
    }

    .forwardButtonContainer:hover {
        opacity: 100%;
    }

    .backButtonContainer {
        position: absolute;
        width: auto;
        left: 0px;
        top: calc(50% - 32px);
        background-color: gray;
        height: 64px;
        z-index: 1;
        opacity: 50%;
    }

    .backButtonContainer i {
        color: white;
        font-size: 4em;
        transform: rotate(180deg);
    }

    .backButtonContainer:hover {
        opacity: 100%;
    }

}


@media screen and (min-width: 1000px) and (max-width: 1199px) {

    .carouselItemsContainer {
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        min-width: 100%;
        max-width: 100%;
        position: relative;
        z-index: 0;
    }

    .forwardButtonContainer {
        position: absolute;
        width: auto;
        right: 0px;
        top: calc(50% - 32px);
        height: 64px;
        z-index: 1;
        background-color: gray;
        opacity: 50%;
    }

    .forwardButtonContainer i {
        color: white;
        font-size: 4em;
    }

    .forwardButtonContainer:hover {
        opacity: 100%;
    }

    .backButtonContainer {
        position: absolute;
        width: auto;
        left: 0px;
        top: calc(50% - 32px);
        background-color: gray;
        height: 64px;
        z-index: 1;
        opacity: 50%;
    }

    .backButtonContainer i {
        color: white;
        font-size: 4em;
        transform: rotate(180deg);
    }

    .backButtonContainer:hover {
        opacity: 100%;
    }

}


@media screen and (min-width: 800px) and (max-width: 999px) {

    .carouselItemsContainer {
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        min-width: 100%;
        max-width: 100%;
        position: relative;
        z-index: 0;
    }

    .forwardButtonContainer {
        position: absolute;
        width: auto;
        right: 0px;
        top: calc(50% - 32px);
        height: 64px;
        z-index: 1;
        background-color: gray;
        opacity: 50%;
    }

    .forwardButtonContainer i {
        color: white;
        font-size: 4em;
    }

    .forwardButtonContainer:hover {
        opacity: 100%;
    }

    .backButtonContainer {
        position: absolute;
        width: auto;
        left: 0px;
        top: calc(50% - 32px);
        background-color: gray;
        height: 64px;
        z-index: 1;
        opacity: 50%;
    }

    .backButtonContainer i {
        color: white;
        font-size: 4em;
        transform: rotate(180deg);
    }

    .backButtonContainer:hover {
        opacity: 100%;
    }

}

@media screen and (min-width: 600px) and (max-width: 799px) {

    .carouselItemsContainer {
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        min-width: 100%;
        max-width: 100%;
        position: relative;
        z-index: 0;
    }

    .forwardButtonContainer {
        position: absolute;
        width: auto;
        right: 0px;
        top: calc(50% - 32px);
        height: 64px;
        z-index: 1;
        background-color: gray;
        opacity: 50%;
    }

    .forwardButtonContainer i {
        color: white;
        font-size: 4em;
    }

    .forwardButtonContainer:hover {
        opacity: 100%;
    }

    .backButtonContainer {
        position: absolute;
        width: auto;
        left: 0px;
        top: calc(50% - 32px);
        background-color: gray;
        height: 64px;
        z-index: 1;
        opacity: 50%;
    }

    .backButtonContainer i {
        color: white;
        font-size: 4em;
        transform: rotate(180deg);
    }

    .backButtonContainer:hover {
        opacity: 100%;
    }

}

@media screen and (max-width: 599px) {

    .carouselItemsContainer {
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        min-width: 100%;
        max-width: 100%;
        position: relative;
        z-index: 0;
    }

    .forwardButtonContainer {
        position: absolute;
        width: auto;
        right: 0px;
        top: calc(50% - 32px);
        height: 64px;
        z-index: 1;
        background-color: gray;
        opacity: 50%;
    }

    .forwardButtonContainer i {
        color: white;
        font-size: 4em;
    }

    .forwardButtonContainer:hover {
        opacity: 100%;
    }

    .backButtonContainer {
        position: absolute;
        width: auto;
        left: 0px;
        top: calc(50% - 32px);
        background-color: gray;
        height: 64px;
        z-index: 1;
        opacity: 50%;
    }

    .backButtonContainer i {
        color: white;
        font-size: 4em;
        transform: rotate(180deg);
    }

    .backButtonContainer:hover {
        opacity: 100%;
    }

}
