.modal {
  width: 100%;
  overflow-y:auto;
}

/* below is for the scroll bar on the pop up */
/* width */
.modal::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.modal::-webkit-scrollbar-thumb {
  background: DarkGray;
  border-radius: 10px;
}

/* Handle on hover */
.modal::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}


/* below is for the sections of the pop up */
.modal > .header {
    width: 98%;
    border-bottom: 1px solid #C0C0C0;
    font-size: 18px;
    margin-right: 1%;
    margin-left: 1%;
    text-align: center;
}

.modal > .content {
  width: 98%;
  padding: 10px 3px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  height: 600px;
  position: relative;
}

.modal > .actions {
  width: 98%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}


/* set the width of the post div to 100 % */
.postWidth {
	width: 100%;
}

/* used for the post comment button */
.commentButton
{
    float: right;
}


/* this is the container for ALL comments */
.commentsContainer {
    margin-top: 2%;
}

/* used for each individual comment */
.commentContainer {
    width: 100%;
    border-top: 1px solid gray;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.removeContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* formatting for prompting if user wants to remove comment */
.removalText
{
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}

/* for error text on a input field */
.errorText
{
    text-align: left;
    width: 95%;
    margin-left: 2.5%;
}

/* used to hold user name and picture */
.userNameBox {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 97%;
    margin-right: 1%;
}

.editCommentContainer
{
    width: 100%;
}

/* used in comments for the update/cancel buttons when editing */
.editSubmitContainer
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-bottom: 10px;
}

/* used for the dropdown to edit/remove a comment */
.editButtons {
    font-weight: bold;
    font-size: 1.4em;
    text-align: right;
    text-indent: 0px;
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    padding: 0px;
    border-width: 0px;
    outline: none;
}

/* used for the dropdown to edit/remove a comment */
.editButtonContainer {
    width: 2.0%;
    margin-top: 0.7%;
    margin-bottom: 1%;
}

/* used for the buttons when the dropdown is opened to edit a comment */
.dropDownButton {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    font-size: 1em;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    border-width: 1px;
    border-color: gray;
}

.dropDownButton:hover
{
    background: DarkGray;
    color: white;
}

/* used for removing a comment */
.removeCommentButton:hover
{
    background: red;
    color: white;
}

/* used to cancel edit/removal of a comment */
.cancelButton:hover
{
    background-color: red;
}

.commentUser {
    font-weight: bold;
    width: 50%;
    text-align: left;
}

.commentTime
{
    width: 50%;
    text-align: right;
    color: gray;
}

/* used to hold a users actual comment */
.commentBox
{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    text-align: left;
}