
/* Main Page*/
.post {
	margin: auto;
	text-align: center;
	font-family: arial;
	display: grid;
	grid-template-columns: auto;
	padding: 10px;
	background-color: white;
}

.postShadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
}

/* used to format the buttons on the film review popup */
.formButton {
    border-radius: 4px;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.postButton {
    border-radius: 4px;
    color: white;
    font-size: 16px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: DarkGray;
}

.postButton:hover
{
    background-color: blue;
}

/* prevents outline on button when clicked */
.postButton:focus
{
    outline: none;
}

.thumbsUp
{
    color: white;
}

.commentIcon
{
    color: white;
}

/* used for the button container to denter vertically */
.buttonContainer {
    align-content: center;
}

/* this is used for buttons that were selected */
.usedButtonContainerHeight {
    height: auto;
}

/* set the color for good buttons */
.goodButton{
    background-color: #4CAF50;
}

/* this sets the color for a used bad button */
.badButton {
    background-color: red;
}

/* makes the button unclickable for a unused button */
.unclickableButton {
    pointer-events: none;
}

.review
{
    text-align: left;
    white-space: pre-wrap;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.timestampContainer
{
	width: 99%;
    justify-content: flex-end;
    display: flex;
    flex-flow: row wrap;
	margin-bottom: 5px;
	color: gray;
	margin-right: 1%;
}

.likeContainer
{
	width: 98%;
	text-align: left;
	margin-left: 2%;
	font-size: 1.5em;
}

.likeCountThumb
{
	color: blue;
}

/* Below is for the star ratings */
fieldset, label {
    margin: 0;
    padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 3em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}


.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label {
    color: #FFD700;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover ****

/* hover previous stars in list */


/*
.rating > input:checked ~ label
{
    color: #FFD700;
}
*/
