
/* Main Page*/
.postHeader {
	width: 100%;
    display: flex;
    flex-flow: row wrap;
	justify-content: flex-start;
	text-align: left;
	position: relative;
}

.reviewerContainer
{
	width: 50%;
	align-self: flex-start;
	margin-left: 2%;
}

.userImageContainer
{
	width: 45%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	margin-right: 1%;
}

.userImage
{
	height: 50px;
	width: 50px;
}


.post {
	margin: auto;
	text-align: center;
	font-family: arial;
	display: grid;
	grid-template-columns: auto;
	padding: 10px;
	background-color: white;
	position: relative;
}

@media screen and (min-width: 1400px) {
	.postShadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	    width: 60%;
	}
}

@media screen and (max-width: 1399px) {
	.postShadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	    width: 65%;
	}
}

@media screen and (max-width: 1199px) {
	.postShadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	    width: 70%;
	}
}

@media screen and (max-width: 999px) {
	.postShadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	    width: 75%;
	}
}

@media screen and (max-width: 799px) {
	.postShadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	    width: 82.5%;
	}
}

@media screen and (max-width: 599px) {
	.postShadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	    width: 90%;
	}
}

/* used to format the buttons on the film review popup */
.formButton {
    border-radius: 4px;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.postButton {
    border-radius: 4px;
    color: white;
    font-size: 16px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: DarkGray;
}

.postButton:hover
{
    background-color: blue;
}

/* prevents outline on button when clicked */
.postButton:focus
{
    outline: none;
}

.thumbsUp
{
    color: white;
}

.commentIcon
{
    color: white;
}

/* used for the button container to denter vertically */
.buttonContainer {
    align-content: center;
}

/* this is used for buttons that were selected */
.usedButtonContainerHeight {
    height: auto;
}

/* set the color for good buttons */
.goodButton{
    background-color: #4CAF50;
}

/* this sets the color for a used bad button */
.badButton {
    background-color: red;
}

/* makes the button unclickable for a unused button */
.unclickableButton {
    pointer-events: none;
}

.review
{
    text-align: left;
    white-space: pre-wrap;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.timestampContainer
{
	width: 99%;
    justify-content: flex-end;
    display: flex;
    flex-flow: row wrap;
	margin-bottom: 5px;
	color: gray;
	margin-right: 1%;
}

.likeContainer
{
	width: 48%;
	text-align: left;
	margin-left: 2%;
	font-size: 1.5em;
}

.reactionContainer
{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	position: relative;
}

.iconContainer
{
	width: 50%;
	margin-right: 0%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	font-size: 2em;
	align-content: space-around;
}

.likeCountThumb
{
	color: blue;
}

.likesCountButton
{
	background-color: white;
	border: none;
	font-size: 1em;
	padding: 0px;
}

.likesCountButton:focus
{
	outline: none;
}

.moviePoster {
	width: 50%;
}

.watchListIcon {
    color: rgb(168, 169, 169, .4);
	margin-left: 2%;
}

.watchListIcon:hover {
    color: red;
}

.watchedIcon {
    color: rgb(169, 169, 169, .4);
}

.watchedIcon:hover {
    color: #006400;
}

.watchListIconSelected:hover {
    color: rgb(168, 169, 169, .4);
}

.watchListIconSelected {
    color: red;
	margin-left: 2%;
}

.watchedIconSelected:hover {
    color: rgb(168, 169, 169, .4);
}

.watchedIconSelected {
    color: #006400;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: .5em;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-left: 10px;
  margin-top: 5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-weight: normal;
}

/* Below is for the star ratings */
fieldset, label {
    margin: 0;
    padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 3em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}


.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label {
    color: #FFD700;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover ****

/* hover previous stars in list */


/*
.rating > input:checked ~ label
{
    color: #FFD700;
}
*/
