
/* css to be used for error handling */
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
}

.errorMessage {
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}


@media screen and (min-width: 1400px) {
    .mainBodyContainer {
        width: 70%;
        min-height: calc(100vh - 125px);
        height: auto;
        margin-left: 15%;
        margin-right: 15%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        background: white;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .mainBodyContainer {
        width: 70%;
        height: calc(100vh - 125px);
        margin-left: 15%;
        margin-right: 15%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        background: white;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .mainBodyContainer {
        width: 70%;
        height: calc(100vh - 125px);
        margin-left: 15%;
        margin-right: 15%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        background: white;
    }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
    .mainBodyContainer {
        width: 70%;
        height: calc(100vh - 125px);
        margin-left: 15%;
        margin-right: 15%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        background: white;
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .mainBodyContainer {
        width: 70%;
        height: calc(100vh - 85px);
        margin-left: 15%;
        margin-right: 15%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        background: white;
    }
}

@media screen and (max-width: 599px) {
    .mainBodyContainer {
        width: 70%;
        height: calc(100vh - 85px);
        margin-left: 15%;
        margin-right: 15%;
        position: static;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        margin-bottom: 20px;
        background: white;
    }
}
